.card-container {
  position: relative;
}
.card-container .card-content {
  position: absolute;
  left: 50%;
  color: #4e4e4e;
  width: 80%;
  transform: translate(-50%, -45%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.card-container .card-content > img {
}
.card-container .card-content > p {
  height: 100%;
}
.card-container .card-content > * {
  padding: 10px 0px;
}
/* .img-content {
  width: auto;
  height: auto;
} */
