.input-text-container{
    position: relative;
    width: 100%;
}
.input-text-container .text-input-error{
    position: absolute;
    width: 100%;
    font-size: 12px;
    top: 50px;
    color: crimson;
    left: 0;
}
.input-text-container .input-text{
    width: 100%;
}
.input-text-container .input-text.error{
    border: 1px solid crimson;
}