.main-detailnewpage-container {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 150px;
}
.main-detailnewpage-container > * {
  margin: 20px 0px;
}
.goback p {
  color: #a99371;
  font-size: 25px;
}
.detailnew-header > :first-child {
  color: #4e4e4e;
  font-size: 60px;
  padding-bottom: 40px;
  border-bottom: 5px solid #707070;
}
.date-post {
  font-size: 18;
  color: #a99371;
  margin: 20px 0;
}
.new-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detail-news {
  font-size: 25px;
  color: #4e4e4e;
  white-space: pre-wrap;
  line-height: 2rem;
  letter-spacing: 0.05rem;
}
.new-content-container div {
  margin: 80px 0;
}
.img-news {
  align-self: center;
}
