.contactus-container {
  background-image: url(./contact-22.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.contactus-container .item-contactus {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 20px;
}
.contactus-container .item-contactus .contact-detail {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.contactus-container .item-contactus .contact-detail div {
  margin: 0px 40px;
}
.contactus-container .item-contactus .left-container {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: center;
  /*margin-right: 100px;*/
  margin-bottom: 20px !important;

  color: #fff;
}
.contactus-container .item-contactus .left-container :nth-child(1) {
  font-size: clamp(25px, 3vw, 50px);
  margin-bottom: 20px;
}
.contactus-container .item-contactus .left-container :nth-child(n + 2) {
  font-size: clamp(16px, 3vw, 24px);
  letter-spacing: 0.05rem;
  line-height: 2.5rem;
}
.contactus-container .item-contactus .right-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: #fff;
}
.contactus-container
  .item-contactus
  .right-container
  .email-subscribe-container
  > p {
  font-size: clamp(25px, 3vw, 50px);
}
.contactus-container .item-contactus .email-subscribe-container {
  margin: 20px 0 !important;
}
.contactus-container .item-contactus .right-container input {
  background: transparent;
  border: 2px solid #fff;
  font-size: clamp(14px, 3vw, 18px);
  letter-spacing: 0.1rem;
  padding: 10px 20px;
  padding-right: clamp(50px, 10vw, 150px);
  border-radius: 15px 0px 0px 15px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.contactus-container .item-contactus .email-subscribe-container input:focus {
  outline: none;
  box-shadow: 0 0 0 4px #fff;
  transition: all 0.3s ease;
}
.contactus-container .item-contactus .right-container button {
  border-radius: 0px 15px 15px 0px;
  background-color: #fff;
  color: #4e4e4e;
  font-size: clamp(14px, 3vw, 18px);
  padding: 10px 20px;
  border: 2px solid #fff;
}
.contactus-container .item-contactus .right-container button:hover {
  outline: none;
  box-shadow: 0 0 0 4px #fff;
  transition: all 0.3s ease;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #fff;
}
.contactus-container
  .item-contactus
  .right-container
  .follow-buttons-container
  > img {
  margin: 0px 40px;
}
.copyright {
  color: #fff;
  margin-bottom: 10px;
  font-size: clamp(10px, 3vw, 16px);
}
@media (max-width: 600px) {
  .contactus-container
    .item-contactus
    .right-container
    .follow-buttons-container
    > img {
    margin: 0px 15px;
  }
  .contactus-container
    .item-contactus
    .right-container
    .follow-buttons-container {
    margin: 0 !important;
  }
}
