@font-face {
  font-family: "Baby-girly";
  src: local("Baby-girly"), url(./fonts/BABYGIRLY.otf) format("truetype");
}
@font-face {
  font-family: "ComicSansMS";
  src: local("ComicSansMS"), url(./fonts/ComicSansMS3.ttf) format("truetype");
}
* {
  margin: 0;
  font-family: Baby-girly;
}
.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  position: relative;
}
.fade-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.fade-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit {
  opacity: 1;
  transform: translateX(0%);
}
.fade-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms, transform 500ms;
}
